<% @books.each do |book| %>
	<div class="row">
		<div class="col-md-3 col-md-offset-3">
			<a href="/books/<%= book.id %>">
				<%= image_tag book.book_img.url(:book_index), class: "book" %>
			</a>
		</div>
		<div class="col-md-4">
			<h2><%= book.title %></h2>
			<p><%= book.description %></p>
		</div>
	</div>
	<hr>
<% end %>
